* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(214, 213, 214);
}

.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    height: 700px;
    width: 100%;
    transition: all 0.15s ease;
}